name: Continuous Integration (CI)

on:
  push:
    branches:
      - master
      - main
      - develop
      - feature/devops
  pull_request:
    branches:
      - master
      - main
      - develop
      - feature/devops

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run basic project check
        run: echo "CI pipeline executed successfully"
